@import "../../node_modules/bootstrap/scss/bootstrap.scss";


/* ///////////..common../////////// */
html {
  padding: 0;
  margin: 0;
  height: 100%,
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background: #f5f5f7;
  flex-grow: 1;
}

.principal {
  padding-top: 85px;
  padding-bottom: 85px;
}

.heading {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  color: #555;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.big-img {
  width: 70%;
}

/* ///////////..botones../////////// */

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
}

.btn-primary {
  color: #fff;
  background: #16a083;
}

.btn-primary:hover {
  background: #117964;
  transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ */

.navbar>.container {
  padding: 0;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.95;
  z-index: 12;
  height: 75px;
  padding: 0;
}

.menu-items {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
}

.menu-items li {
  list-style: none;
  margin-left: 1rem;
  font-size: 1rem;
}

.link {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #16a083;
  transition: color 0.3s ease-in-out;
}

.logo {
  font-size: 2rem;
  margin: 0;
  white-space: nowrap;
  text-decoration: none;
  color: #117964;
}

.logo:hover {
  color: #16a083;
}

.active {
  color: #16a083;
  pointer-events: none;
}

/* ............/footer/............ */

#footer {
  background: rgb(65, 65, 65);
}

.footer-container {
  display: flex;
  justify-content: center;
}

#footer h2 {
  text-align: center;
  font-size: 1.8rem;
  padding: 2.6rem;
  font-weight: 500;
  color: #fff;
}

/* ............//// Perfil ////......... */

.perfil-area {
  background: linear-gradient(rgba(240, 240, 240, 0.144),
      rgba(255, 255, 255, 0.336)),
    url("../img/wall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.perfil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 85px;
}

.main-title {
  text-transform: uppercase;
}

#profile-photo {
  border-radius: 50%;
  width: 12em;
  margin-bottom: 8px;
}

/* ......//social networks//...... */
.social-share {
  display: flex;
  justify-content: center;
}

@media (min-width: 964px) {
  .social-share {
    justify-content: end;
  }
}

.social-share-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.social-share-list li {
  display: inline-block;
  padding-bottom: 0.25rem;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.social-share-list li a {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 87, 145, .18);
  display: flex;
  height: 40px;
  justify-content: center;
  transition: .3s;
  width: 40px;
}

.social-share-list li a svg {
  fill: #2a3c51;
  height: 1.25rem;
  transition: .3s;
  width: auto;
}


/* ......//About me//...... */

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#about h2 {
  font-size: 2.3rem;
}

#about p {
  font-size: 1.2rem;
  color: #555;
}

#about .small {
  font-size: 2rem;
  color: #666;
  font-weight: 600;
}

.about-img {
  flex: 1 1 400px;
  padding: 30px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translate(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}

/* ........./ Mis Objetivos /.......... */

.objetivos-container {
  padding: 0;
  display: flex;
  align-items: center;
}


/* ..........////Computacion///........... */

.computacion-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.computacion-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.computacion-type {
  padding: 10px;
  width: 100%;
}

.computacion-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  height: inherit;
}

.img-container {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;

  h3 {
    font-size: 2rem;
  }

  a {
    font-size: 1.2rem;
  }
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;

  h3 {
    color: white;
  }
}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;

  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}

@media(max-width: 964px) {
  .img-container:hover {
    box-shadow: 5px 5px 10px 0 #aaa;
  }

  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }

}


/* .........../Pasatiempos/............ */

.pasatiempos-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
  justify-content: center;
}

.pasatiempo-img img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.pasatiempo-item {
  display: flex;
  margin-bottom: 3rem;
  width: 90%;
}

.pasatiempo-description {
  margin: auto 1.5rem;

  p {
    font-size: 1.2rem;
    color: #555;
    font-weight: 500;
    text-align: justify;
  }

  .poema {
    font-style: italic;
    display: block;
    margin: 0;
    overflow: auto;
    font-size: 0.875em;
  }

  img {
    height: 40px;
    width: 40px;
  }
  img:hover {
    transform: scale(1.1);
  }
}

.pasatiempo-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #444;
}

@media (max-width: 964px) {
  .pasatiempo-item {
    flex-wrap: wrap;
  }

  .pasatiempo-item {
    justify-content: center;
  }

  .pasatiempo-img img {
    width: 200px;
    height: 200px;
  }
}

/* ........ Contact Us........... */

#contact {
  padding: 18vh 0 6vh 0;
  background: rgb(226, 226, 226);
}

.contact-container {
  display: flex;
  background: #fff;
}

.contact-img {
  width: 50%;
}

.contact-img img {
  display: block;
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.campo {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
}

.campo a {
  text-decoration: none;
  font-size: 1.3rem;
}

.form-container h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem;
  margin-top: -1.2rem;
}

/* ......../ descargas /.......... */
.custom_card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(218, 218, 218, 0.8);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.games_img {
  width: 30%;
}



/* ......../ media query /.......... */

@media (max-width: 964px) {

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 100%;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 16px;
    left: 17px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    width: 50%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -10%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }


  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  /* ......./ computacion /......... */

  .computacion-group {
    flex-direction: column;
  }

  /* ......./ common /......... */

  .big-img {
    width: 100%;
  }

}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li {
    font-size: 1.6rem;
  }

  .form-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }

  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }

}